<h1>{{title}}</h1>
<form method="POST" action="" class="mb-4">
    <div class="form-group">
        <label for="name">Category: </label>
        <input type="text" name="name" class="form-control">
    </div>
    <div class="text-center mb-3">
        <input type="submit" value="Submit" class="btn-primary btn-block">
    </div>
</form>
{{#if errors}}
   <ul>
      <li>{{error.msg}}</li>
   </ul>
{{/if}}
<a href="/inventory">Home</a>