<h1>{{title}}</h1>

<ul>
    {{#each product_list}}
        <li class="list-group-item"> Product Name: {{this.name}}</li>
        <li class="list-group-item">Category: {{this.category}}</li>
    {{/each}}
</ul>